.mainMenu {
	display: flex;
	height: 40px;
	padding-left: 150px;
	align-items: center;
	background-color: #0095F2;
}
.mainMenu ul li{
	display: inline-block;
	margin-right: 20px;
}

.mainMenu a {
	text-decoration: none;
	color: white;
}
.mainMenu a.active {
  font-weight: 900;
  font-size: 20px;
  color: #E3E3E3;
}